<div class="contain">

	<% Item.all.each do |item| %>
		<div class="card" style="width: 18rem;">
		  <%= image_tag(item.cat_image, class: 'card-img-top', alt: "Card image cap") %>
		  <div class="card-body">
		    <h5 class="card-title"><%= link_to item.title , item_path(item.id) %></h5>
		    <p class="card-text"><%= item.description %></p>
        <p><%= item.price %>$</p>
        <% if user_signed_in? %> 
        <%= link_to "Ajouter au panier", {:controller => "join_table_carts_items", :action => "create", :item_id => item.id}, class:"btn btn-primary btnshadow" %>
        <% else %> 
        <%= link_to "Ajouter au panier", user_session_path, class:"btn btn-primary btnshadow" %>
        <% end %> 
		  </div>
		</div>
	<% end %>
</div>

<div class="page_number">
  <ul class="pagination col-md-2 col-md-offset-5">
    <li class="page-item disabled">
      <a class="page-link" href="#">&laquo;</a>
    </li>
    <li class="page-item active">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">4</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">5</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">&raquo;</a>
    </li>
  </ul>
</div>
