<div class="container">

  <!-- Portfolio Item Heading -->
  <h1 class="my-4">
    <%= @item.title %>
    <small></small>
  </h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <%= image_tag(@item.cat_image,class:"img-fluid") %>
    </div>

    <div class="col-md-4">
      <h3 class="my-3">
        <%= @item.title %>
      </h3>
      <p>
        <%= @item.description %>
      </p>
      <h3 class="my-3">Project Details</h3>
      <ul>
        <li>Price :
          <%= @item.price %>$</li>
      </ul>
      <!-- TODO Add user_signed_in? -->
      <% if user_signed_in? %>
      <%= link_to "Ajouter au panier", {:controller => "join_table_carts_items", :action => "create", :item_id => @item.id, class:"btn-buy-product"} %>
      <% else %>
      <button class="btn-buy-product">
        <%= link_to "Ajouter au panier (connexion)", user_session_path %></button>

      <% end %>
    </div>

  </div>
  <!-- /.row -->

  <!-- Related Projects Row -->
  <h3 class="my-4">Related Projects</h3>

  <div class="row">

    <% 4.times do %>
    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <%= image_tag(@item.cat_image, class:"img-fluid") %>
      </a>
    </div>
    <% end %>
  </div>
