<div class="container">

  <!-- Portfolio Item Heading -->
  <h1 class="my-4"><%= @item.title %>
    <small></small>
  </h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
    	<%= image_tag("#{@item.image_url}",class:"img-fluid") %>
    </div>

    <div class="col-md-4">
      <h3 class="my-3"><%= @item.title %></h3>
      <p><%= @item.description %></p>
      <h3 class="my-3">Project Details</h3>
      <ul>
        <li>Price : <%= @item.price %>$</li>
      </ul>
      <%= link_to "Ajouter au panier", {:controller => "join_table_carts_items", :action => "create", :item_id => @item.id, class:"btn-buy-product"} %>

    </div>

  </div>
  <!-- /.row -->

  <!-- Related Projects Row -->
  <h3 class="my-4">Related Projects</h3>

  <div class="row">

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
            <%= image_tag("#{@item.image_url}",class:"img-fluid") %>
          </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
            <%= image_tag("#{@item.image_url}",class:"img-fluid") %>
          </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
            <%= image_tag("#{@item.image_url}",class:"img-fluid") %>
          </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
            <%= image_tag("#{@item.image_url}",class:"img-fluid") %>
          </a>
    </div>

  </div>
  <!-- /.row -->

</div>