<div class="container">

  <!-- Portfolio Item Heading -->
  <h1 class="my-4">
    <small></small>
  </h1>

  <!-- Portfolio Item Row -->
  <div class="main-show-item">

    <div class="img-show-cart">
      <%= image_tag(@item.cat_image,class:"radius-b") %>
    </div>

    <div class="product-detail">
      <p class="title-product"><%= @item.title %></p>
      <p><%= @item.description %></p>
      <p class="price-product"><%= @item.price %> $</p>
      </ul>
      <!-- TODO Add user_signed_in? -->
      <% if user_signed_in? %>
     <button class="btn-buy-product btnshadow"><%= link_to "Ajouter au panier", {:controller => "join_table_carts_items", :action => "create", :item_id => @item.id} %></button> <i class="em em-cat"></i>
      <% else %>
      <button class="btn-buy-product btnshadow"><%= link_to "Ajouter au panier (connexion)", user_session_path %></button>
      
      <% end %>
    </div>

  </div>
  <!-- /.row -->

  <!-- Related Projects Row -->

  <div class="row">
    <div class="margin-b">
    </div>
  </div>
</div>