<% provide(:title, "Profil utilisateur") %>

<h1>Ma page de profil <%= @user.email %></h1>

Vue par <%= current_user.email %> (id: <%= current_user.id %>), par le droit !

<%= link_to "Edit registration", edit_user_registration_path %>

<%= link_to "Sign out", destroy_user_session_path, method: :delete %>

<h2>Historique des commandes</h2>
